################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BuscaAcoes/v16
/.vs/BuscaAcoes/DesignTimeBuild
/BuscaAcoes/bin/Debug/netcoreapp3.1
/BuscaAcoes/obj
/BuscaAcoes.Dominio/bin/Debug/netstandard2.0
/BuscaAcoes.Dominio/obj
/BuscaAcoesF/bin/Debug
/BuscaAcoesF/obj/Debug
/BuscaAcoes.Infraestrutura/bin/Debug/netstandard2.0
/BuscaAcoes.Infraestrutura/obj
/BuscaAcoes.Dominio/bin/Release/netstandard2.0
/BuscaAcoes.Infraestrutura/bin/Release/netstandard2.0
/BuscaAcoesF/bin/Release
/BuscaAcoesF/obj/Release
